
{%extends 'base.html'%}

{% load bootstrap3 %}



<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{% block content %}
{{block.super}}
<div class="container">

  <h1 class="text-center">Be in the loop</h1>
  <section>
    <div class="row">
      <h1 class="text-center">Latest posts</h1>
      {% for post in posts %}

      <div class="col-md-4 col-lg-4 col-sm-4 col-xs-6">



      <p>{{post.title}}</p>
      <p>{{post.owner}}</p>
        <img src="{{post.post_image.url}}" class="img-responsive" alt="Image">
        <p>{{post.post}}</p>
      </div>
      {% empty %}

          <h2 class="text-center">No posts yet</h2>


        {% endfor %}



    </div>

  </section>

  <section>
    <div class="row">
      <h1 class="text-center">Latest posts</h1>

      {% for business in businesses %}

      <div class="col-md-4 col-lg-4 col-sm-4 col-xs-6">



      <p>{{business.business_name}}</p>
        <img src="{{business.business_image.url}}" class="img-responsive" alt="Image">
        <p>{{business.neighborhood}}</p>
      </div>
      {% empty %}

          <h2 class="text-center">No Businesses yet</h2>


        {% endfor %}



    </div>

  </section>

  <section>
    <div class="row">
      <h1 class="text-center">Other Neighbourhoods</h1>
      {% for neighborhood in neighborhoods %}

      <div class="col-md-4 col-lg-4 col-sm-4 col-xs-6">



      <p>{{neighborhood.title}}</p>

        <img src="{{neighborhood.neighborhood_image.url}}" class="img-responsive" alt="Image">
        <p>{{neighborhood.name}}</p>
        <a href="{% url 'neighborhood' neighborhood.id %}" class="btn btn-info" role="button">View more details</a>

      </div>
      {% empty %}

          <h2 class="text-center">No other neighborhoods</h2>


        {% endfor %}



    </div>

  </section>

</div>

{%endblock%}
</body>
</html>
