
{%extends 'base.html'%}

{% load bootstrap3 %}



<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{% block content %}
{{block.super}}

<div class="container">
<h1>Welcome to the neighborhood</h1>
<div class="row">
  <p>Businesses</p>
  <div class="col-md-6">
{% for business in businesses %}

        <img src="{{business.business_image.url}}" class="img-responsive" alt="Image">

          <p>{{business.business_name}}</p>


</div>
{% empty %}

    <h2 class="text-center">There are no Projects yet</h2>

          {% endfor %}

</div>

<div class="row">
  <p>neighborhoods</p>
  {% for neighborhood in neighborhoods %}

  <div class="col-md-6">

          <img src="{{neighborhood.neighborhood_image.url}}" class="img-responsive" alt="Image">
          <p>{{neighborhood.count}}</p>
          <a href="{% url 'neighborhood' neighborhood.id %}">{{neighborhood.name}}</a>


</div>
{% empty %}

    <h2 class="text-center">There are no neighborhoods yet</h2>

          {% endfor %}
</div>
          <div class="row">
            <div class="col-md-6">
              <p>POSTS</p>
          {% for post in posts %}

                  <img src="{{post.post_image.url}}" class="img-responsive" alt="Image">
                    <p>{{post.post}}</p>


          </div>
          {% empty %}

              <h2 class="text-center">There are no Posts yet</h2>

                    {% endfor %}

          </div>


</div>
{%endblock%}
</body>
</html>
