{%extends 'base.html'%}

{% load bootstrap3 %}




<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

{% block content %}
{{block.super}}
<div class="container">
<h1>Profile page</h1>

<p><a href="{%url 'edit-profile'%}">Edit profile</a></p>
<p><a href="{%url 'update-neighborhood'%}">Update neighborhood</a></p>



<p>{{request.user.username}}</p>
<img src="{{userprofile.profile_image.url}}" class="img-responsive" alt="Image">
<p><strong>Name of the neighborhood</strong>{{userprofile.neighborhood}}</p>
<p>User email{{userprofile.email}}</p>

<p>Goods</p>
</div>

{%endblock%}
